<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.fibonacci.spring-cloud-eureka.mapper.DemoMapper">
    <select id="selectTest" resultType="java.lang.Integer">
        select 1
    </select>
</mapper>
